*{
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.mainarea{
    width: 800px;
    height: 1000px;
}
.title{
    height: 94px;
}
.title img{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0px;
}
.title h1{
    margin: 20px 0 3px 75px;
    color: #474747;
    font-weight: normal;
    font-size: 36px;
}
.darkblue{
    color: #22659e;
}
.turquoise{
    color: #00c0df;
}
.red{
    color: #d9231c;
}
.title h2{
    height: 50px;
    background: linear-gradient(#1d5383,#5384ad,#1d5383);
    line-height: 50px;
    vertical-align: middle;
    color: white;
    padding-left: 15px;
    font-weight: normal;
}
.content{
    background: linear-gradient(to bottom,#e3e3e3 0%,#ffffff 10%);
}
.leftcolumn{
    width: 155px;
    height: 885px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 30px 0px 0px;
}
.leftcolumn h5{
    margin-top: 5px;
    padding: 15px 0;
    font-size: 13px;
}
.leftcolumn p{
    padding: 10px 0;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
}
.leftcolumn button{
    width: 150px;
    margin: 2px 0;
    background:  #6399c4;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #8d8e8f;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;    
}
.video{
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.ad{
    background-image: url("./images/ad_background.png");
    background-size: auto 175%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
}
.ad h3{
    font-size: 18px;
    font-weight: normal;
}
.ad button{
    width: 130px;
}
.ad img{
    width: 75px;
    margin: 0px 10px 10px 10px;
}
.rightcolumn{
    width: 600px;
    height: 885px;
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
}
.contactbar{
    height: 50px;
    width: 600px;
}
.contact{
    display: inline-block;
    vertical-align: top;
    height: 50px;
}
.contact img{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 10px 0;
}
.contact h5{
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
    width: 420px;
    padding-top: 7px;
    font-size: 80%;
}
.phone{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px 0;
}
.contact h6{
    font-size: 50%;
    padding-left: 5px;
}
.overview{
    border-top: 1px solid #9a9a9a;
}
.overview h3{
    font-size: 14px;
    color: #22659e;
    font-weight: bolder;
    padding: 5px 0px;
}
.overview p{
    font-size: 12px;
}
.overview ul, .overview ol{
    font-size: 12px;
    margin: 0px 0 0 40px;
}
.client{
    width: 200px;
    margin: 10px auto;
    display: block;
}
.overview li{
    padding: 5px 0px;
}
.bigthree{
    border-top: 5px solid #0085e0;
    border-left: 5px solid #0085e0;
    border-right: 5px solid #0085e0;
    box-shadow: 1px 0px 1px #8d8e8f;
    margin: 10px 0px 0px 5px;
    padding: 5px;
}
.bigthree img{
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
.abouthtml{
    display: inline-block;
    vertical-align: top;
    width: 455px;
    padding-left: 5px;
}
.abouthtml h3{
    padding: 5px 0 0 0;
}
.abouthtml p{
    margin: 5px 0px;
}
